$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import 'anim';

body, html {
  height: 100%;
  background: #CCC;
}

.box {
  display: inline-block;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: white;
  padding: 15px;
  border-radius: 10px;
}

.header {
  background: #333;
  color: #FFF;
  border-bottom: 3px solid #095100;
  text-align: center;
}

.center {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.pad-10 {
  padding-top: 10px;
}

.pad-20 {
  padding-top: 20px;
}

// Page styles
.page {
  display: none;
  height: 100%;

  .row-fluid {
    height: 100%;
  }

  &.active {
    display: block;
    -webkit-animation: page-fade-in 300ms;
    animation: page-fade-in 300ms;
  }
}

// User list area
.sidebar {
  height: 100%;
  background: #CCC;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
}

#user-list {
  padding: 0;
  margin: 0;
  list-style: none;

  .user {
    list-style: none;
    background: white;
    padding: 15px;

    a.btn {
      float: right;
    }
  }
}

// Video container area
.call-content {
  height: 100%;

  .row {
    background: #333;
    height: 100%;
  }
}

#video-container {
  background: black;
  position: relative;
  height: 75%;
  display: inline-block;

  #self-call-video {
    position: absolute;
    top: 30px;
    right: 10px;
    width: 200px;
    height: 150px;
    z-index: 2;
  }

  #call-video {
    display: block;
    height: 100%;
    margin: 0 auto;
    z-index: 1;
  }

  video {
    // background: blue;
  }
}
