$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

$gridGutterWidth: 0px;

@import 'sass-bootstrap/lib/bootstrap';
@import 'compass/css3';
@import 'anim';

$lightColor: #F5FFF7;
$highlightColor: #2CFFF7;
$lighterColor: #B0FFF7;
$mainColor: #176ABA;

body, html {
  height: 100%;
  background: $lightColor;
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.box {
  display: inline-block;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  background: white;
  padding: 15px;
  border-radius: 10px;

  &.social {
    margin-top: 20px;
    margin-left: 20px;
  }
}

.header {
  background: #333;
  color: #FFF;
  border-bottom: 3px solid #095100;
  text-align: center;
}

.center {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.pad-10 {
  padding-top: 10px;
}

.pad-20 {
  padding-top: 20px;
}

.prettyprint {
  li {
    list-style-type: decimal;
    margin-left: 10px;
  }
}

// Get started area
.highlight {
  background: #c50220;

  h3 {
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
  }

  .btn {
    margin-top: 8px;
  }
}

// PubNub Logo
.logo {
  margin-top: 5px;
  background: url(../images/pubnub-large.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 133.636363636px;
  height: 30px;
}

.logo span {
  display: none;
}

// Banner
.banner {
  padding-top: 95px;
  padding-bottom: 30px;
  background-color: $mainColor;
  background-image:
      linear-gradient(rgba(255,255,255,.2) 2px, transparent 2px),
      linear-gradient(90deg, rgba(255,255,255,.2) 2px, transparent 2px),
      linear-gradient(rgba(255,255,255,.2) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255,255,255,.2) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px; 
  color: $lightColor;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}

// Page styles
.page {
  display: none;
  height: 100%;

  .row-fluid {
    height: 100%;
  }

  &.active {
    display: block;
    -webkit-animation: page-fade-in 300ms;
    animation: page-fade-in 300ms;
  }
}

// Login Page
#page-login {
  #login-container {
    .span6, .span4, .span8 {
      height: 100%;
    }
  }

  .row-fluid {
    height: auto;
  }

  #signinButton {
    div {
      margin-top: 8px !important;
    }
  }

  .information {
    color: $lightColor;
    background: $mainColor;
    font-size: 16px;
    line-height: 22px;
    padding-top: 20px;

    a {
      color: $lighterColor;
    }

    h2 {
      color: white;
      font-weight: 600;
    }

    h4 {
      color: $lighterColor;
      font-weight: 200;
    }
  }
}

// Caller Page
#page-caller {
  .span3, .span9 {
    padding-top: 40px;
  }
}

// User list area
.sidebar {
  height: 100%;
  border-bottom: 3px solid rgba(0, 0, 0, 0.7);
  background: $lightColor;
  padding-top: 0;
  margin-top: 0;

  h3 {
    background: $mainColor;
    border-bottom: 3px solid darken($mainColor, 20%);
    color: $lightColor;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    width: 100%;
  }
}

#user-list {
  padding: 0;
  margin: 0;
  list-style: none;
  height: calc(100% - 59px);
  overflow: scroll;

  .user {
    color: rgba(0, 0, 0, 0.8);
    list-style: none;
    background: white;
    padding: 20px;

    a.btn {
      margin-top: -5px;
      float: right;
    }
  }
}

// Video container area
.call-content {
  height: 100%;

  & > .row {
    background: black;
    height: 100%;
  }

  #video-controls {
    background: #ECF2F2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: rgba(0, 0, 0, 0.7);

    #time {
      margin-left: 10px;
    }
  }
}

#chat-area {
  background: #ECF2F2;
  border-bottom: 3px solid rgba(0, 0, 0, 0.7);
  color: rgba(0, 0, 0, 0.7);
  height: 100px;
  display: block;

  #chat-receive-message {
    background: white;
    display: block;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 5px;
    overflow: scroll;
  }

  input[type="text"] {
    width: 97%;
    margin-top: 4px;
  }
}

#video-container {
  background: black;
  position: relative;
  height: calc(100% - 173px);
  display: inline-block;

  .span12 {
    overflow: hidden;
  }

  #video {
    height: 100%;

    .span12 {
      height: 100%;
    }
  }

  #self-call-video {
    position: absolute;
    top: 30px;
    right: 10px;
    width: 200px;
    height: 150px;
    z-index: 2;
  }

  #call-video {
    display: block;
    height: 100%;
    margin: 0 auto;
    z-index: 1;
  }

  video {
    // background: blue;
  }
}

.testing {
  display: block;
}

