<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" type="text/css" href="bower_components/google-code-prettify/src/prettify.css">
    <link rel="stylesheet" type="text/css" href="bower_components/jquery-mobile-bower/css/jquery.mobile-1.3.2.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "b6e7a490-0eea-4599-b7e8-4ba158f1367a", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
  </head>
  <body>
    <a href="https://github.com/pubnub" id="github"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 99999999999;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>


    <!-- Navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">WebRTC + PubNub</a>
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="http://github.com/pubnub/webrtc-chat" target="_blank"><i class="icon icon-download-alt"></i> GitHub</a></li>
            <li><a href="#docs">Docs</a></li>
          </ul>

          <div class="nav pull-right">
            <a href="http://pubnub.com" target="_blank" class="logo"><span>Powered by PubNub</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="page active" id="page-login">
      <div class="row-fluid banner">
        <div class="container">
          <div class="span12">
            <h2>WebRTC + PubNub</h2>
            <h4>Open Source Template for Powerful Video Chat, No Plugins</h4>
            </div>
        </div>
      </div>
      
      <div class="container">
        <div class="row-fluid" id="login-container">
          <div class="span4 offset4">
            <div class="pad-20 center">
              <div class="box">
                <h3>Try Now</h3>
                <input type="text" id="userid" placeholder="Username" />
                <br />
                <a href="#" class="btn btn-large btn-inverse" id="login">Log In</a>
                <br />
                <p style="padding-top: 12px;">- or -</p>
                <span id="signinButton">
                  <span
                    class="g-signin"
                    data-callback="signinCallback"
                    data-clientid="587465758861.apps.googleusercontent.com"
                    data-cookiepolicy="single_host_origin"
                    data-requestvisibleactions="http://schemas.google.com/AddActivity"
                    data-scope="https://www.googleapis.com/auth/plus.login"
                    data-approvalprompt="force">
                  </span>
                </span>
              </div>
            </div>
          </div>

          <div class="span4">
            <div class="box social">
              <p>Like This Demo? Tell Your Friends!</p>
              <div class="share">
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_linkedin_large' displayText='LinkedIn'></span>
                <span class='st_googleplus_large' displayText='Google +'></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br />

      <div class="row-fluid information">
        <div class="container">
          <div class="span12">
              <p>
Building video calling apps is no small task. Learning about video codecs, signaling, and presence is just the beginning when it comes to implementation. At PubNub, we have partnered our technology with WebRTC to make integration fast and easy to build video chat software. Out of the box our <a href="http://github.com/pubnub/webrtc" target="_blank">WebRTC Framework</a> will power audio, video, and data communication between two browsers.
              </p>

              <h2>See It In Action</h2>
              <p>
                <iframe src="//player.vimeo.com/video/79737005" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/79737005">WebRTC Video App Demo</a> from <a href="http://vimeo.com/pubnub">PubNub Video</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
              </p>

              <a id="docs"></a>
              <h2>Get Started by Installing the PubNub WebRTC SDK</h2>
              <p>
The first step to building your own video calling app is to install both <a href="http://pubnub.com" target="_blank">PubNub</a> and our <a href="http://github.com/pubnub/webrtc" target="_blank">WebRTC SDK</a>. To install both of these, first download the WebRTC SDK to your local project somewhere. Then include both libraries:
              </p>

<pre class="prettyprint linenums">
&lt;script src=”http://cdn.pubnub.com/pubnub.min.js”&gt;&lt;/script&gt;
&lt;script src=”/path/to/webrtc-beta-pubnub.*.*.*.js”&gt;&lt;/script&gt;
</pre>
              
              <img src="images/presence.png" alt="Presence Free Trial" width="299" height="349" style="float: right" />

              <p>
              Also, if you have not already, visit <a href="http://pubnub.com/free-trial" target="_blank">PubNub</a> to sign up for a free account and learn how to initialize your pubnub JavaScript interface
              </p>

              <h2>Getting a List of Users to Call</h2>
              <p>
The PubNub library comes with the functionality to see what users come online and offline. To start, enable this functionality by visiting admin.pubnub.com and enabling “presence” on your API key. This will allow your clients to start receiving join and leave events.
              </p>
              
              <p>
In our application, every user is subscribed to one channel. This means every user can see all the other users that are currently connected. This is done easily by using a channel named “phonebook”:
              </p>

<pre class="prettyprint linenums">
pubnub.subscribe({
  channel: ‘phonebook’,
  callback: function (message) {
    // Do nothing in our callback
  },
  presence: function (data) {
    if (data.action === “join” && data.uuid != myUuid) {
      var parts = data.uuid.split(‘-’);
      var newUser = newUserTemplate({
        name: parts[1]
        id: parts[0]
      });
      userList.append(newUser);
    } else if (data.action === “leave” and data.uuid != myUuid) {
      var parts = data.uuid.split(‘-’);
      var item = userList.find(“li[data-user=\”” + parts[0] + “\”]”);
      item.remove();
    }
  }
});
</pre>

              <p>
              Currently the user data is stored in the data- attributes of the element itself. This makes it easy to work with as a prototype but could be extended to an AngularJS scope or Backbone Collection easily.
              </p>

              <h2>Get the User Media</h2>
              <p>
              The first step in any WebRTC application is to get the stream from the user’s webcam. Luckily, the browser provides an easy to use way of getting this stream. The code for doing this uses the getUserMedia API:
              </p>

<pre class="prettyprint linenums">
function gotStream(stream) {
  document.querySelector(‘#self-call-video’).src = URL.createObjectURL(stream);
  myStream = stream; // Save the stream for later use
};
navigator.webkitGetUserMedia({ audio: true, video: true}, gotStream);
</pre>

              <p>
Note here that the stream is stored for use in publishing to a WebRTC peer connection. When you make this call the user will have to allow your application to use the webcam. The callback will not be called until this has been done, so it may be good to notify the user that they need to allow this before moving on.
              </p>

              <img src="images/notification.png" alt="Allow Media Notification" width="615" height="31" style="margin: 0 auto; display: block;" />

              <h2>Calling a User with PubNub WebRTC</h2>
              <p>
Once your application has the user stream you can now publish that stream to another user. Since the RTCPeerConnection requires you to publish your stream before the connection is made, the library provides methods for both subscribing and listen for new connections. The code below will take care of both cases and allow a completed call to be made:
              </p>

<pre class="prettyprint linenums">
function publishStream(uuid) {
  pubnub.publish({
    user: uuid,
    stream: myStream
  });

  pubnub.subscribe({
    user: uuid,
    stream: function (data, event) {
      document.querySelector(‘#call-video’).src = URL.createObjectUrl(event.stream);
    },
    disconnect: function (uuid, pc) {
      document.querySelector(“#call-video”).src = “”;
      $(document).trigger(“call:end”);
    }
  });
};			

pubnub.onNewConnection(function (uuid) {
  if (myStream != null) {
    publishStream(uuid);
  }
});

pubnub.subscribe({
  channel: ‘answer’,
  callback: function (data) {
    if (data.caller == myUuid) {
      publishStream(data.callee);
    }
  }
});
</pre>

              <p>
              This will take care of all the use cases when calling another user:
                <ul>
                  <li>The user has called us and we want to react immediately to the call</li>
                  <li>We are calling another user by publishing our stream to them</li>
                  <li>We want to subscribe to another user before they call</li>
                </ul>
              </p>

              <h2>Hanging Up a WebRTC Call</h2>
              <p>
              Hanging up the call is as simple as closing the peer connection. The other user tries to reconnect for a few seconds and then recognizes the call is dropped after that. The library provides an interface for both cases:
              </p>

<pre class="prettyprint linenums">
function hangUp() {
  pubnub.closeConnection(currentCall, function () {
    $(document).trigger(“call:end”);
  }
};

pubnub.subscribe({
  // ... Other subscribe code here
  disconnect: function (uuid, peerConnection) {
    hangUp();
    // React to the disconnect
  }
});
</pre>

<h2>Using Other Logins</h2>
<p>
Our demo also allows you to login with any Google+ account. Since our users are identified by a unique user ID, this ID can be anything the developers provides. In this use case, we provide the unique user ID provided by the Google+ API.
</p>
<p>
Unfortunately this just gives us an ID for each user, so if we want to tell the user who is currently available for chat they will just see the numerical representation of each user. The way we get around this limitation is by including the user name in each unique user ID. Our user names now look like “1234567-John Doe”. Now we can call String.split(‘-’) to get the name and the ID separated so we can show the human readable form to the user.
</p>
<h2>WebRTC Calling In-Browser is Amazing</h2>
<p>
Now we can take this seemingly complex application and simplify the time to develop this so even one person can build it. The most amazing thing about this is that it is scalable from the beginning. Using the PubNub network allows your application to scale on a global level. The RTCPeerConnection also abstracts away much of the complexity that deals with codecs and setting up a peer connection. We at PubNub hope to see a whole new wave of communication applications on the web! Check out the demo of our video calling application here [link].
</p>

<h4>&rsaquo; Login Above to Try The Demo</h4>
<br />
          </div>
        </div>
      </div>

      <br />
        
      <div class="container">
        <div class="row-fluid">
          <div class="span4">
            <h3>What is PubNub?</h3>
            <p>Today’s users expect to interact in real-time. PubNub makes it easy for you to add real-time capabilities to your apps, without worrying about the infrastructure. Build apps that allow your users to engage in real-time across mobile, browser, desktop and server.</p>
          </div>
          <div class="span8">
            <h3>What Can I Build With PubNub?</h3>
            <p>The PubNub Real-Time Network takes care of the connections, global infrastructure and key building blocks for real-time interactivity, so you can focus creating killer apps…</p>
            <ul style="float: left; width: 50%">
              <li>Real-Time Collaboration</li>
              <li>Machine-to-Machine</li>
              <li>Real-Time Financial Streams</li>
              <li>Real-Time Location Tracking</li>
              <li>Call Triggering</li>
            </ul>
            <ul>
              <li>2nd Screen Sync</li>
              <li>Live Dashboards</li>
              <li>Multi-Player Games</li>
              <li>Group Chat Rooms</li>
              <li>Thousands more…</li>
            </ul>
          </div>
        </div>
      </div>

      <br />

      <div class="highlight">
        <div class="container">
          <div class="row-fluid">
            <div class="span8">
              <h3 class="call-to-action">Start Building Real-Time Apps Now!</h3>
            </div>
            <div class="span3 offset1">
              <a href="http://pubnub.com/free-trial" class="btn btn-large" id="get-started" target="_blank">Get Started</a>
            </div>
          </div>
        </div>
      </div>

      <br />

      <div class="container">
        <div class="row-fluid">
          &copy; 2013 PubNub
        </div>
      </div>

      <br />
      <br />
    </div>

    <div id="page-caller" class="page">
      <div class="row-fluid">
        <div class="span3 sidebar">
          <h3>Online Contacts</h3>
          <ul id="user-list">
          </ul>
        </div>

        <div class="span9 call-content">
          <div class="row">
            <div class="span12" id="video-container">
              <div class="row" id="video">
                <div class="span12">
                  <video id="self-call-video" src="" autoplay="autoplay" muted="true"></video>
                  <video id="call-video" src="" autoplay="autoplay"></video>
                </div>
              </div>

              <div class="row">
                <div class="span12" id="video-controls">
                  <a href="#" class="btn btn-danger" id="hang-up">Hang Up</a>
                  <span id="time">10:00</span>
                </div>
              </div>

              <div class="row">
                <div class="span12" id="chat-area">
                  <div id="chat-receive-message">
                    Hello, World!
                  </div>
                  <input type="text" id="chat-message" name="message" placeholder="Type to chat" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="answer-modal" class="modal hide">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Incoming Call</h3>
      </div>
      <div class="modal-body">
        <p class="caller">(User) is calling...</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Ignore</button>
        <button class="btn btn-primary">Answer</button>
      </div>
    </div>

    <div id="calling-modal" class="modal hide">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Outgoing Call</h3>
      </div>
      <div class="modal-body">
        <p class="calling">Calling (User)...</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>
    </div>

    <script type="text/html" id="user-item-template">
      <li class="user" data-user="<%= id %>">
      <span class="name"><%= name %></span>
      <a href="#" class="btn btn-success" data-user="<%= id %>">Call</a>
      </li>
    </script>

    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-41019038-2');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="scripts/pubnub.js"></script>
    <script src="scripts/webrtc-beta-pubnub.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js(.tmp) scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="bower_components/sass-bootstrap/js/bootstrap-affix.js"></script>
    <script src="bower_components/sass-bootstrap/js/bootstrap-alert.js"></script>
    <script src="bower_components/sass-bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="bower_components/sass-bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="bower_components/sass-bootstrap/js/bootstrap-modal.js"></script>
    <script src="bower_components/sass-bootstrap/js/bootstrap-transition.js"></script>
    <script src="bower_components/sass-bootstrap/js/bootstrap-button.js"></script>
    <script src="bower_components/sass-bootstrap/js/bootstrap-popover.js"></script>
    <script src="bower_components/sass-bootstrap/js/bootstrap-typeahead.js"></script>
    <script src="bower_components/sass-bootstrap/js/bootstrap-carousel.js"></script>
    <script src="bower_components/sass-bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="bower_components/sass-bootstrap/js/bootstrap-collapse.js"></script>
    <script src="bower_components/sass-bootstrap/js/bootstrap-tab.js"></script>
    <script src="bower_components/google-code-prettify/src/prettify.js"></script>
    <!-- endbuild -->

    <script>
      (function(){

        prettyPrint();
      })();
    </script>


    <script type="text/javascript">
      (function() {
var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
po.src = 'https://apis.google.com/js/client:plusone.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
        </script>
      </body>
    </html>
